---
import sapling from "../assets/sapling.png";
import background from "../assets/background.svg";
---

<main class="flex justify-center">
  <div class="max-w-4xl w-full mt-[10vh] grid grid-cols-[auto_1fr] items-center gap-8">
    <img src={sapling.src} alt="Sapling" class="mt-10 w-3xs" />
    <div>
      <h1 class="text-8xl">remisense</h1>
      <p class="text-4xl mt-10">A digital garden of reminiscent moments</p>
    </div>
  </div>
</main>

<style>
  @font-face {
    font-family: "Zain";
    src: url("/fonts/zain/Zain-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    background: #eaead7;
    color: #232323;
    font-family: "Zain", sans-serif;
  }
</style>
